
/*
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=josefi:")
*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #a3e4f3;
}

div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px 20px;
  background: coral;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  color: #2c6c7c;
  background: transparent;
  text-shadow: 0 2px 2px black;
}

h3 {
  color: #b6a454;
  background: transparent;
  text-shadow: 0 2px 2px black;
}

input {
  width: 50%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: thistle;
  margin: 20px 0;
  text-align: center;
}

.butFP1{
  line-height: 24px;
  padding: 0 20px;
  background: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}